---
type Props = {
  text: string
  icon: string
  href: string
}

const { text, icon, href } = Astro.props
---

<a href={href} target="_blank" class="w-fit px-3 py-2 group rounded border flex gap-2 items-center border-olive-700/20 hover:bg-olive-700/10 blend">
  <svg height={20} width={20}>
    <use href={`/stack.svg#${icon}`}></use>
  </svg>
  <span class="text-sm capitalize text-ink-700 group-hover:text-olive-700 blend">
    {text}
  </span>
</a>